{% load static %}

<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
<n1>
Hello {{name}} ! </h1>
<div class="grandParentContaniner">
     <div class="parentContainer">
          <form action ='add' method='post'>
          {% csrf_token %}
                    <label for="number1">Enter Number 1:</label> 
                    <input type="text" name="number1" size="15">
                    <br>
                    <br>
                    <label for="number2">Enter Number 2:</label>
                    <input type="text" name="number2" size="15">
                    <br>
                    <br>
                    <input type="submit">
          </form>
     </div>
</div>
</body>
</html>

