<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django HTML to PDF</title>
</head>
<body>
    <h1>HTML To PDF</h1>
     <b>I'm building web-based, data-driven apps using Django. <br>
Eventually (or unfortunately), I will need to generate some reports that are printer-friendly. <b>
Logically, PDF is the format for such files... <br>
so how am I going to convert my xHTML and CSS to a nice-looking PDF document?<br>

The Django Book has a whole chapter dedicated to Generating Non-HTML Content.<br> 
They seem to to be fond of ReportLab ToolKit.<br>
 The caveat here, though, is that you need to know a bit about the internals of a PDF document.<br> 
If you're familiar with this, the ReportLab toolkit seems to be the way to go! It has many features, and it seems to be a powerful PDF-generating tool.
</b>
</body>
</html>
