{% load static %}
<!DOCTYPE HTML>
<html>
<head>
     <link rel="stylesheet" href="{% static 'style.css' %}">
     <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
</head>
<header>
<div class="myDiv">
    <a href='/'>Student</a>
    <div class="myDiv1">
        <center>.</center>
    </div>
</div>

</header>    
<br>
<!--    Made by Erik Terwan    -->
<!--   24th of November 2015   -->
<!--        MIT License        -->

<nav role="navigation">
  <div id="menuToggle">
    <!-
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->

    <input type="checkbox" />
    
    <!-
    Some spans to act as a hamburger.
    
    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->

    <span></span>
    <span></span>
    <span></span>
    
    <!-
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->

    <ul id="menu">
      <a href='/'>
          <li>Home</li>
      </a>
      <a href='list'>
          <li>list</li>
      </a>
      <a href='about'>
          <li>Contact</li>
      </a>
    </ul>
  </div>
</nav>
<br>

<body>
<div class="father">
     <div class="child">
          <form method="POST" class="post-form">
               {% csrf_token %}
                    <input type="text" name="firstname" size="30" placeholder="First Name"/><br><br>
                    <input type="text" name="lastname" size="30" placeholder="Last Name"/><br><br>
                    <input type="submit" value="Save this entry">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="centered">
                    {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <br>                  
                    
          </form>
     </div>
</div>
</body>
</html>

